$primary-color: #e8ab4e;
$secondary-color: #e5c26e;
$tertiary-color: #25463d;
$accent-color: #eadda6;
$backgound-color: #e2e0d8;
$light-color: #ffffff;

$radius-lg: 25px;
$radius-sm: 5px;

$font-weight-thin: 400;
$font-weight-light: 500;
$font-weight-regular: 700;
$font-weight-bold: 800;
$font-weight-black: 900;
