@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+HK:wght@900&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
}

header {
  letter-spacing: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

a {
  text-decoration: none;
  color: #25463d;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #25463d;
}

span {
  background-color: #25463d;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 800;
}

p,
code {
  color: #25463d;
  line-height: 1.5;
  font-weight: 500;
}

dl,
dt,
dd,
ul,
li,
address {
  line-height: 2;
  color: #25463d;
}

.header {
  color: #ffffff;
}

.sc_title-en {
  color: #e5c26e;
  text-transform: uppercase;
  font-size: 1rem;
}

.sc_title-zh {
  color: #c99824;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.info-content .name {
  display: flex;
  align-items: flex-start;
}
.info-content .name-en {
  font-size: 6rem;
  letter-spacing: 0.15rem;
  text-decoration-style: dotted;
  font-size: 2rem;
}
@media (min-width: 992px) {
  .info-content .name-en {
    font-size: 5rem;
  }
}
.info-content .name-zh {
  background-color: #25463d;
  color: #e2e0d8;
  padding: 2rem 1rem;
  margin: 6rem 2rem;
  letter-spacing: 0.6rem;
  writing-mode: vertical-lr;
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 2rem;
}
@media (min-width: 992px) {
  .info-content .name-zh {
    margin: 5rem 2rem;
  }
}

.info-avater::after {
  content: "HELLO";
  position: absolute;
  color: #ffffff;
  left: 2rem;
  top: 2rem;
  font-size: 4rem;
}
@media (max-width: 575.98px) {
  .info-avater::after {
    left: 1rem;
    top: 1rem;
    font-size: 2rem;
  }
}

mark {
  background-color: #25463d;
  color: #e2e0d8;
}

.card:hover * {
  color: #ffffff;
}
.card:hover span {
  background-color: #e5c26e;
}

.container, section, header {
  width: 100%;
  margin-bottom: 6rem;
}

body {
  background-color: #e2e0d8;
  min-height: 100vh;
}

header {
  background-color: #25463d;
  color: #e2e0d8;
  text-align: center;
  padding: 0.01rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

main {
  max-width: 1440px;
  width: calc(100% - 6rem);
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 991.98px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}

.info-avater {
  flex: auto;
  position: relative;
}
.info-avater img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card-container {
  display: grid;
  gap: 3rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  width: 100%;
}
@media (max-width: 575.98px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.card {
  background-color: #edece7;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card:hover {
  background-color: #25463d;
}
.card .card-title {
  display: flex;
  align-items: center;
}
.card .card-title h2 {
  flex: auto;
}
.card .card-title span {
  padding: 0.5rem;
  letter-spacing: 0.15rem;
}

/*# sourceMappingURL=all.css.map */
